<?php require_once 'header.phtml' ?>

<form action="/connect" method="post">
    Host: <input type="text" name="hostname">
    User: <input type="text" name="username">
    Pass: <input type="password" name="password">
    <input type="submit" value="Connect">
</form>

<?php require_once 'footer.phtml' ?>
