<?php require_once 'header.phtml' ?>

<a href="/logout">Logout</a>

<br />
<br />

<form action="create" method="post">
    <table>
        <tr>
            <td>Banco: *</td>
            <td>
                <select name="database" id="database">
                    <?php foreach ($databases as $database): ?>
                        <option value="<?= $database->Database ?>"><?= $database->Database ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>
        <tr>
            <td>Tabela: *</td>
            <td>
                <select name="table" id="table">
                    <option value="">Selecione um banco de dados</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Nome da classe:</td>
            <td><input type="text" name="className"></td>
        </tr>
        <tr>
            <td>Gerar atributos sem o prefixo:</td>
            <td><input type="text" name="prefix"></td>
        </tr>
        <tr>
            <td>Visibilidade:</td>
            <td>
                <select name="attributeVisibility">
                    <option value="public">public</option>
                    <option value="protected">protected</option>
                    <option value="private" selected="selected">private</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="btn"><input type="submit" value="Criar"></td>
        </tr>
    </table>
</form>

<?php require_once 'footer.phtml' ?>
